@import "../Common/globalStyle.css";
#logout {
  top: 2%;
  right: 0.5%;
  position: absolute;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#logout:hover {
  color: white;
  background-color: var(--softRed);
}
.alert {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
