@import "../Common/globalStyle.css";

#uploadArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -30% auto 0;
}
#fileInput {
  display: none;
}
#fileInputLabel,
.uploadElements {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 60px;
  width: 230px;
  background-color: var(--softGreen);
  border: none;
}
.fileNameClass {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  max-width: 80vw;
  text-align: center;
  word-break: break-word;
}
.uploadActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.removeUpload {
  height: 32px;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 32px;
  background-color: white;
  border-radius: 5px;
}

#logout {
  background-color: white;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
#logout:hover {
  color: white;
  background-color: var(--softRed);
}
.options {
  cursor: pointer;
  position: absolute;
  display: flex;
  top: 2%;
  right: 0.5%;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}
.options #settingsImage {
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: white;
  height: 25px;
  width: 25px;
}
.settingsContainer {
  pointer-events: none;
  opacity: 0;
  min-height: 80px;
  min-width: 150px;
  position: absolute;
  right: 17%;
  border-radius: 10px;
  display: flex;
  background-color: white;
}

.settingsContainer ul {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0;
  padding: 0;
}

.settingsContainer ul li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.settingsContainer ul li:first-child {
  border-radius: 10px 10px 0px 0px;
}

.settingsContainer ul li:last-child {
  border-radius: 0px 0px 10px 10px;
}
.dangerousActions {
  background-color: var(--softRed);
  color: white;
  transition: 0.3s;
}
.dangerousActions:hover {
  background-color: red;
}
.dangerousActions img {
  height: 20px;
  width: 20px;
}
#deleteAccountImage {
  margin-right: 5px;
}
#deleteFilesImage {
  margin-right: 10px;
}
.filesContainer {
  position: absolute;
  display: flex;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  justify-self: center;
  align-items: center;
  min-width: 400px;
  flex-direction: column;
}

.filesContainer .fileHeading {
  color: var(--magenta);
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 70px;
}
.fileHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#headingStorageStat {
  font-size: 20px;
}
.file {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 120px;
  margin-bottom: 100px;
  border-radius: 10px;
  width: 80vw;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 35px;
  padding: 20px;
  position: relative;
}
.file .fileName {
  text-align: center;
  word-break: break-word;
}
.file .fileOptionsMenu {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 15px;
}
.file .fileOptionsMenu img {
  height: 32px;
  width: 32px;
}
.fileActions {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  flex: 1;
  height: 40vh;
  width: 500px;
  position: absolute;
  border-radius: 10px;
  z-index: 3;
  background-color: white;
}
.fileActions div {
  font-size: 25px;
  padding: 10px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  transition: 0.3s;
}
.fileActions div img {
  position: absolute;
  left: 28%;
  height: 48px;
  width: 48px;
}
#deleteFileOption img {
  height: 42px;
  width: 42px;
  left: 30%;
}
.fileActions div:first-child {
  border-radius: 10px 10px 0px 0px;
}
.fileActions div:last-child {
  border-radius: 0px 0px 10px 10px;
}
#copyLinkOption:hover,
#renameFileOption:hover {
  background-color: rgb(158, 156, 156);
}
#deleteFileOption {
  background-color: var(--softRed);
  color: white;
}

#deleteFileOption:hover {
  background-color: red;
}
