:root {
  --softRed: #f1453c;
  --purple: #bc7fe6;
  --magenta: #c61cfa;
  --lightMagenta: rgb(235, 172, 235);
  --darkPurple: #9704c4;
  --softGreen: rgb(59, 192, 59);
}
html {
  height: 100%;
  background: linear-gradient(to bottom, var(--purple), white);
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.alert {
  position: absolute;
  min-height: 70px;
  width: 200px;
  top: 30px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  color: white;
  font-size: 20px;
  padding: 10px;
}

button:disabled {
  transition: 0.2s;
  opacity: 0.5;
  pointer-events: none;
}
