@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --softRed: #f1453c;
  --purple: #bc7fe6;
  --magenta: #c61cfa;
  --lightMagenta: rgb(235, 172, 235);
  --darkPurple: #9704c4;
  --softGreen: rgb(59, 192, 59);
}
html {
  height: 100vh;
  background: linear-gradient(to bottom, var(--purple), white) fixed;
}
body {
  margin: 0px;
  font-family: "Rubik";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.alert {
  position: absolute;
  min-height: 70px;
  width: 200px;
  top: 30px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
  color: white;
  font-size: 20px;
  padding: 10px;
}

#confirmButton {
  background-color: var(--softRed);
  color: white;
}

#confirmButton:hover {
  background-color: red;
}

#cancelButton {
  background-color: rgb(205, 205, 205);
}

#cancelButton:hover {
  background-color: rgb(158, 156, 156);
}

.confirm {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 500px;
  min-height: 250px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  z-index: 3;
}
#confirmText {
  padding: 15px;
  font-size: 30px;
  text-align: center;
}
.confirm input,
.confirm select {
  border-radius: 10px;
  font-size: 30px;
  width: 400px;
  height: 40px;
  margin-top: 10px;
}
.confirm select {
  height: 35px;
  width: 350px;
  font-size: 25px;
}
.confirmButtons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.confirmButtons button {
  height: 50px;
  width: 100px;
  border-radius: 10px;
  font-size: 25px;
  border: none;
  transition: 0.3s;
  margin-top: 10px;
  margin-bottom: 10px;
}
.background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgb(0, 0, 0);
  opacity: 0.9;
  z-index: 2;
}
#deletionTypeInfo {
  width: 430px;
  text-align: center;
}
