@media (max-width: 768px) {
  .confirm {
    min-width: 380px;
  }
  .filesContainer {
    top: 70%;
  }
  .file {
    width: 80vw;
    min-height: 100px;
    margin-bottom: 70px;
    font-size: 30px;
  }
  .fileActions {
    height: 45vh;
    width: 350px;
  }
  .fileActions div {
    width: 95%;
  }
  .fileActions div img {
    left: 20%;
  }
  #deleteFileOption img {
    left: 22%;
  }
  #deletionTypeInfo {
    width: 400px;
  }
}
