@media (max-width: 768px) {
  .fileNameClass {
    margin-bottom: 35%;
  }
  .confirm {
    width: 80vw;
    height: 50vh;
  }
  .confirm input {
    width: 250px;
    height: 30px;
    top: 200px;
    left: 40px;
  }
  .confirmButtons {
    left: 60px;
  }
}
