@media (max-width: 768px) {
  .confirm {
    min-width: 400px;
  }
  .filesContainer {
    top: 70%;
  }
  .file {
    width: 90vw;
    min-height: 100px;
    margin-bottom: 70px;
    font-size: 30px;
  }
}
