@import "../Common/globalStyle.css";
@import "../Shared/accountPageStyle.css";
.container {
  height: 500px;
}
input {
  margin-bottom: 30px;
  padding-left: 10px;
}

.submit {
  margin-top: -12%;
}
.acknowledgements {
  display: flex;
  color: var(--magenta);
  align-items: center;
  margin-top: -8%;
  margin-left: 13%;
}
.acknowledgements span {
  margin-top: -0.9%;
  margin-left: 1%;
}
.acknowledgements span a {
  color: var(--darkPurple);
}
#acknowledgements {
  outline: none;
  height: 15px;
  width: 15px;
}
