@import "../Common/globalStyle.css";

body {
  font-size: 20px;
  color: var(--magenta);
  padding: 20px;
}

h1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
}

.container {
  font-size: 30px;
  position: absolute;
  top: 2%;
  left: 30px;
  margin-top: 10%;
  padding: 20px;
  max-width: 90%;
}

.container p {
  margin-bottom: 50px;
  text-align: left;
}
a {
  color: rgb(145, 21, 145);
}
@media (max-width: 768px) {
  body {
    font-size: 16px;
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
    top: 2%;
  }

  .container {
    font-size: 20px;
    top: 1%;
    left: 15px;
    margin-top: 15%;
    padding: 15px;
  }

  .container p {
    margin-bottom: 30px;
  }
}
